<div id="collections-page">
  <div id="collections-wrapper">
    <% if @user != nil %>
      <% @user.gunplas.each do |gunpla| %>
        <div class="box">
          <div class="kit-image center-content">
            <div id='gunpla_delete'>
              <%= form_with url: "/gunplas/#{gunpla.id}/collection", method: "delete" do |form| %>
                <%= form.submit 'ðŸ—‘ï¸' %>
              <% end %>
            </div>
            <a href="<%=  gunpla_path(gunpla)  %>">
              <%= image_tag(gunpla.images.second) %>
            </a>
          </div>
          <div class="kit-info center-content">
            <div><span>Kit Name:</span> <%= gunpla.kit_name %></div>
            <div><span>Gundam Name:</span> <%= gunpla.gundam_name %></div>
            <div><span>Grade:</span> <%= gunpla.grade %></div>
            <div><span>Scale:</span> <%= gunpla.scale %></div>
            <div><span>Gundam Series:</span> <%= gunpla.gundam_series %></div>
          </div>
        </div>
        <% end %>
    <% else %>
      <p>You have no Gunplas in your collection</p>
    <% end %>
  </div>
</div>