<div class="figures">
  <div class="top-grid">
    <div class='box-1'>
      <%= image_tag(@gunpla.images.first) %>
    </div>
    <div class='box-2'>
      <div id="kit-info">
        <div><span>Kit Name:</span> <%= @gunpla.kit_name %></div>
        <div><span>Gundam Name:</span> <%= @gunpla.gundam_name %></div>
        <div><span>Grade:</span> <%= @gunpla.grade %></div>
        <div><span>Scale:</span> <%= @gunpla.scale %></div>
        <div><span>Gundam Series:</span> <%= @gunpla.gundam_series %></div>
      </div>
    </div>
  </div>
  <div class="bottom-grid">
    <% @gunplas_related.each_with_index do |gunpla, index| %>
      <% box_number = index + 1 %>
      <div class="box-<%= box_number %>">
        <a href="<%=  gunpla_path(gunpla)  %>">
          <%= image_tag(gunpla.images.first) %>
          <div class="kit_name"><%= gunpla.kit_name %></div>
        </a>
      </div>
    <% end %>
  </div>
  <div class='reviews'>
    <% @reviews.each do |review| %>
      <% user = User.find(review.user_id) %>
      <div class="review">
        <div class="review-info-container">
          <div class="review-info">
            <div class="avatar center-content"><%= image_tag(user.avatar) %></div>
            <div class="author-username"><%= user.username %></div>
            <div class="author-signed-up">Joined <%= user.created_in_english %> Ago </div>
            <div class="how-many-posts">
              <%= user.how_many_posts %> Posts
            </div>
            <div class="author-bio">
              <%= user.bio %>
            </div>
          </div>
        </div>
        <div class="review-body">
            <div><span>Title:</span> <%= review.title %></div>
            <div>
              <span>Rating: </span>
              <% review.rating.to_i.times do %>
                ⭐
              <% end %>
            </div>
            <div id="content_body"><%= review.content_body %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>