<!DOCTYPE html>
<html>
  <head>
    <title>GunplaCollections</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link ref="stylesheet" href="./app/assets/stylesheets/gunplas.css">
  </head>

  <body>
    <div id="body-container">
      <div id='navbar'>
        <div id="navigation">
          <a class='link-default' href='/'>Home</a>
          <a class='link-default' href='/'>figures</a>
          <a class='link-default' href='/'>Dogs</a>
        </div>
        <div id="account">
          <div id="account-button-container">
            <button class='button-default account-button'>
              <a href='/users/sign_in'>Account</a>
            </button>
          </div>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
